<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjHT-21mhz5ge-XspPRcTnGCANl8av5F4</string>
	<key>GCM_SENDER_ID</key>
	<string>781710249511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssafy.frontend.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>a505-ca3ca</string>
	<key>STORAGE_BUCKET</key>
	<string>a505-ca3ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781710249511:ios:0e9ce47f3d2b1797cd8802</string>
</dict>
</plist>